<!DOCTYPE html>
<html>
<head>
<title>Home_title</title>
</head>
<body style='background-color:skyblue;text-align:center'>

<header style='background-color:orange'><h1>This is a Heading</h1></header>
<%= link_to 'About', about_path %><br><br>
<table style='width:100%'>
<tr>
	<th style='text-align:center;width:50%'><h3>1st colounm</h3><hr> </th>
    <th style='text-align:center'><h3>2nd colounm</h3><hr> </th>
</tr>
<tr>
	<th style='text-align:center;width:50%'>For beautiful eyes, look for the good in others; for beautiful lips, speak only words of kindness; and for poise, walk with the knowledge that you are never alone.
    <th style='text-align:center'>Teaching is a very noble profession that shapes the character, caliber, and future of an individual. If the people remember me as a good teacher, that will be the biggest honour for me. </th>
</tr>


</table>
<br>
<h2 style='color:purple;text-align:left'>Another para</h2>
<p style='text-align:left'>"Today is not just any ordinary day. Today is a day that matters. Today you will have the choice to make a difference in your life and those around you. Today you will have the choice to smile rather than frown, be grateful rather than selfish, lift up rather than put down, accept rather than reject and love rather than hate. Today you will have the choice of seeking hope for the future or remain in the hopelessness of the past. 
<footer>copy right : Sourabh Mane 2018</footer>

</body>
</html>
